.login{
    background-color: rgb(18, 156, 193);
    color: #ffffff;
   
}

.login-part{
    background-color: #013080;
   
    
   
}

.btn{
    background-color: #14BCC9!important;
    color: #ffffff!important;
}

.fa{
    font-size: 3rem;
}

.container{
    background-color: #013080;